@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&family=Source+Sans+3&display=swap');

html,
body,
#root,
.app-student
.content-app {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif !important;
}

.app-student {
  display: flex;
  position: relative;
}

.content-app {
  margin-top: 64px; /* Ajusta esto a la altura del topbar */
  padding-top: 16px;
}

@media (max-width: 600px) {
  .content-app {
    margin-top: 56px; /* Ajusta esto para pantallas pequeñas si el topbar cambia de tamaño */
  }
}