@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&family=Source+Sans+3&display=swap');

html,
body,
#root,
.app-student {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif !important;
}

.app-student {
  display: flex;
  position: relative;
}